/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    color: #4CAF50;
    margin-top: 50px;
    font-size: 2.5em;
}

h2, h3, h4 {
    color: #555;
    margin: 20px 0;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 15px 25px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}